html,body{
	width:100%;
	background-color:#48c;
	color:#eee;
}
select,button{
	font-size:22px;
	border-radius:5px;
	background-color:#eee;
}
.highlight{
	color:#4ff;
}
h1,h2,h3{
	text-align: center;
}
.center{
	width:80%;
	text-align:center;
	margin: 10px auto;
}
.center>select{
	margin:auto;
}